In [34]:
import pandas as pd
from datetime import datetime 
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
dataset = pd.read_excel(f"/workspace/Job_based_projects/Data Analyst/British Airways/British_Airlines_review1.xlsx")

In [5]:
dataset.columns

Index(['Name', 'Date Published', 'review', 'overall rating',
       'Verified customer', 'type of travel', 'Route', 'Date of Travel',
       'Seat Type', 'Seat Comfort', 'Cabin Staff Service', 'Food & Beverages',
       'Inflight Entertainment', 'Ground Service', 'wifi connectivity',
       'Value For Money'],
      dtype='object')

In [6]:
dataset["Date Published"]
def date_spliter(date_str):
    dates = date_str.split()
    
    day = dates[0][:-2]
    month = dates[1]
    year =  dates[2]
    return day,month,year
 
dataset[["Day Published", "Month Published", "Year Published"]] = dataset["Date Published"].apply(date_spliter).apply(pd.Series)
dataset.drop(columns=['Date Published','Day Published'])

,Name,review,overall rating,Verified customer,type of travel,Route,Date of Travel,Seat Type,Seat Comfort,Cabin Staff Service,Food & Beverages,Inflight Entertainment,Ground Service,wifi connectivity,Value For Money,Month Published,Year Published
0,Daniel Chinellato,"""left me extremely disappointed""",1,Not Verified,Business,Berlin to São Paulo via London,March 2024,Economy Class,4.0,4.0,3.0,3.0,1.0,3.0,2,July,2024
1,Flora Dogneton,“customer service was awful”,1,Not Verified,Couple Leisure,London to Corfu,September 2023,Economy Class,1.0,1.0,NaN,NaN,1.0,NaN,1,July,2024
2,Alex Martyn,"""over 2 weeks to respond""",1,Not Verified,Solo Leisure,Toronto to London,July 2024,Economy Class,NaN,NaN,NaN,NaN,NaN,NaN,1,July,2024
3,P Jackson,“wholly inadequate customer service”,1,Verified,Couple Leisure,London Gatwick to Verona,June 2024,Economy Class,1.0,1.0,1.0,1.0,1.0,1.0,1,June,2024
4,R Thornton,“the cabin crew were great”,6,Verified,Business,London Heathrow to Paris CDG,June 2024,Business Class,5.0,5.0,3.0,NaN,1.0,NaN,3,June,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Andrew Ray,British Airways customer review,3,Not Verified,Business,Istanbul to London,July 2015,Business Class,4.0,4.0,1.0,1.0,3.0,NaN,1,July,2015
2996,Paul Nesbitt,British Airways customer review,5,Not Verified,Business,Bangkok to London,July 2015,Business Class,4.0,4.0,3.0,2.0,4.0,NaN,3,July,2015
2997,Ash Aryan,British Airways customer review,3,Not Verified,Business,Dublin to London City,July 2015,First Class,1.0,1.0,1.0,NaN,2.0,NaN,1,July,2015
2998,A Ray,British Airways customer review,2,Not Verified,Business,Sydney to Singapore,June 2015,Business Class,2.0,2.0,2.0,3.0,2.0,NaN,2,July,2015
2999,A Ray,British Airways customer review,1,Not Verified,Business,London to Istanbul,July 2015,Business Class,3.0,3.0,2.0,NaN,1.0,NaN,1,July,2015

In [7]:
dataset[['month of Travel', 'year of travel']]= dataset['Date of Travel'].str.split(' ', expand=True)
dataset

,Name,Date Published,review,overall rating,Verified customer,type of travel,Route,Date of Travel,Seat Type,Seat Comfort,...,Food & Beverages,Inflight Entertainment,Ground Service,wifi connectivity,Value For Money,Day Published,Month Published,Year Published,month of Travel,year of travel
0,Daniel Chinellato,9th July 2024,"""left me extremely disappointed""",1,Not Verified,Business,Berlin to São Paulo via London,March 2024,Economy Class,4.0,...,3.0,3.0,1.0,3.0,2,9,July,2024,March,2024
1,Flora Dogneton,5th July 2024,“customer service was awful”,1,Not Verified,Couple Leisure,London to Corfu,September 2023,Economy Class,1.0,...,NaN,NaN,1.0,NaN,1,5,July,2024,September,2023
2,Alex Martyn,1st July 2024,"""over 2 weeks to respond""",1,Not Verified,Solo Leisure,Toronto to London,July 2024,Economy Class,NaN,...,NaN,NaN,NaN,NaN,1,1,July,2024,July,2024
3,P Jackson,30th June 2024,“wholly inadequate customer service”,1,Verified,Couple Leisure,London Gatwick to Verona,June 2024,Economy Class,1.0,...,1.0,1.0,1.0,1.0,1,30,June,2024,June,2024
4,R Thornton,26th June 2024,“the cabin crew were great”,6,Verified,Business,London Heathrow to Paris CDG,June 2024,Business Class,5.0,...,3.0,NaN,1.0,NaN,3,26,June,2024,June,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Andrew Ray,9th July 2015,British Airways customer review,3,Not Verified,Business,Istanbul to London,July 2015,Business Class,4.0,...,1.0,1.0,3.0,NaN,1,9,July,2015,July,2015
2996,Paul Nesbitt,9th July 2015,British Airways customer review,5,Not Verified,Business,Bangkok to London,July 2015,Business Class,4.0,...,3.0,2.0,4.0,NaN,3,9,July,2015,July,2015
2997,Ash Aryan,8th July 2015,British Airways customer review,3,Not Verified,Business,Dublin to London City,July 2015,First Class,1.0,...,1.0,NaN,2.0,NaN,1,8,July,2015,July,2015
2998,A Ray,7th July 2015,British Airways customer review,2,Not Verified,Business,Sydney to Singapore,June 2015,Business Class,2.0,...,2.0,3.0,2.0,NaN,2,7,July,2015,June,2015
2999,A Ray,7th July 2015,British Airways customer review,1,Not Verified,Business,London to Istanbul,July 2015,Business Class,3.0,...,2.0,NaN,1.0,NaN,1,7,July,2015,July,2015

In [32]:
dataset[["from Route", "To Route"]] = dataset["Route"].str.extract(r'(.*?)(?: to | - )(.*)')
dataset.drop(columns=["Route"], inplace=True)
dataset.head(2)

,Name,Date Published,review,overall rating,Verified customer,type of travel,Date of Travel,Seat Type,Seat Comfort,Cabin Staff Service,...,Ground Service,wifi connectivity,Value For Money,Day Published,Month Published,Year Published,month of Travel,year of travel,from Route,To Route
0,Daniel Chinellato,9th July 2024,"""left me extremely disappointed""",1,Not Verified,Business,March 2024,Economy Class,4.0,4.0,...,1.0,3.0,2.0,9,July,2024,March,2024,Berlin,São Paulo via London
1,Flora Dogneton,5th July 2024,“customer service was awful”,1,Not Verified,Couple Leisure,September 2023,Economy Class,1.0,1.0,...,1.0,1.9,1.0,5,July,2024,September,2023,London,Corfu

In [28]:
ratings = ['overall rating','Seat Comfort', 'Cabin Staff Service', 'Food & Beverages',
       'Inflight Entertainment', 'Ground Service', 'wifi connectivity',
       'Value For Money']

for rating in ratings:
    mean_rating = round(dataset[rating].mean(), 1)
    dataset[rating] = dataset[rating].fillna(mean_rating)
    dataset[rating] = dataset[rating].round(1)

In [44]:
for col in dataset.select_dtypes(include='object').columns:
    mode_val = dataset[col].mode()[0]
    dataset[col].fillna(value=mode_val)

In [45]:
dataset.describe(include='all')

,Name,Date Published,review,overall rating,Verified customer,type of travel,Date of Travel,Seat Type,Seat Comfort,Cabin Staff Service,...,Ground Service,wifi connectivity,Value For Money,Day Published,Month Published,Year Published,month of Travel,year of travel,from Route,To Route
count,3000,3000,3000,3000.000000,3000,3000,3000,3000,3000.000000,3000.000000,...,3000.000000,3000.000000,3000.000000,3000,3000,3000,3000,3000,3000,3000
unique,2410,1732,2795,NaN,2,4,116,4,NaN,NaN,...,NaN,NaN,NaN,31,12,10,12,11,373,668
top,David Ellis,1st December 2015,British Airways customer review,NaN,Not Verified,Couple Leisure,August 2015,Economy Class,NaN,NaN,...,NaN,NaN,NaN,27,October,2017,September,2016,London,London
freq,39,9,134,NaN,1756,1028,84,1626,NaN,NaN,...,NaN,NaN,NaN,119,300,572,289,564,556,443
mean,NaN,NaN,NaN,4.380667,NaN,NaN,NaN,NaN,3.161333,3.161333,...,2.768800,1.902867,2.516667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,3.116247,NaN,NaN,NaN,NaN,1.454926,1.454926,...,1.443658,0.619575,1.439124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,...,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,2.000000,2.000000,...,1.000000,1.900000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,3.000000,3.000000,...,3.000000,1.900000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,NaN,5.000000,5.000000,...,4.000000,1.900000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,5.000000,5.000000,...,5.000000,5.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN